<h1>Your Game</h1>
<h2>Enter your questions and answers below!</h2>

<%= render 'form' %>

<%= link_to 'Show', @sheet %> |
<%= link_to 'Back', sheets_path %>
<!-- <%#= link_to 'Submit', mashup_path %> -->
