<h1>Log In Below</h1>

<table>
  <tr>
    <th>Add Your Name to Log In:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= link_to 'Log In', player %></td>
  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Player', new_player_path %>
