<br><h3>Log In Below</h3></br>

<table>
  <tr>
    <th>Add Your Name to Log In:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= link_to 'Log In', player %></td>
  <td><%= link_to ':: Delete Player', player, confirm: 'Are you sure?', method: :delete %></td>
  </tr>

<% end %>


</table>

<br />

<%= button_to 'Add New Player', new_player_path, :method => :get, :class => "btn-primary" %>
